@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 
 
 

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Outfit",sans-serif;
}

/* color code
footer  footer #bedaa4,rgba(190,218,164,255)
bg-button 
#93a87e,rgba(147,168,126,255) 
*/

@theme {
  --color-footer: #bedaa4;
  --color-button-bg: #93a87e;
}