
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400;700&family=Libre+Baskerville&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Default font -> font-body (Lato) */
* {
  font-family: "Lato", sans-serif;
}
 
/* color code
footer  footer #bedaa4,rgba(190,218,164,255)
bg-button
#93a87e,rgba(147,168,126,255)
*/
 
@theme {
  --color-footer: #bedaa4;
  --color-button-bg: #93a87e;
}
 
 

 


 
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
 
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
 
 
 
.text-outline {
  color: white;
  text-shadow: 0px 0px 2px black, 0px 0px 2px black;
}
 
 
 
 
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
 
.animate-marquee {
  display: flex;
  width: max-content;  
  animation: marquee 18s linear infinite;
}
 
.animate-marquee:hover {
  animation-play-state: paused;
}
 
@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 12s;
  }
}